---
import MainLayout from "@layouts/MainLayout.astro";
import Container from "@components/Container.astro";
import { Icon } from 'astro-icon/components';

const faqs = [
{
	index: 1,
	q: "Lorem ipsum dolor sit amet, consectetur adipisicing?",
	a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatem!"
},
{
	index: 2,
	q: "Lorem ipsum dolor sit amet, consectetur adipisicing?",
	a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatem!"
},
{
	index: 3,
	q: "Lorem ipsum dolor sit amet, consectetur adipisicing?",
	a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatem!"
},
{
	index: 4,
	q: "Lorem ipsum dolor sit amet, consectetur adipisicing?",
	a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatem!"
},
{
	index: 5,
	q: "Lorem ipsum dolor sit amet, consectetur adipisicing?",
	a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatem!"
},
]
---
<MainLayout>
	<div class="bg-stone-50 text-stone-900 py-16 border-b border-yellow-600 border-opacity-90">
		<h1 class="text-[#333] font-heading tracking-wide text-center uppercase text-4xl">Faq</h1>
	</div>
	<Container class="py-16">
		<div class="max-w-2xl mx-auto space-y-4">
		{faqs.map(f =>
			<details class="group border-s-2 border-yellow-600 bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
			>
				<summary class="flex cursor-pointer items-center justify-between gap-1.5">
				<h2 class="text-lg font-medium text-gray-900">
				{f.q}
				</h2>

				<span class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3">
					<Icon name="plus" class="size-5 shrink-0 transition duration-300 group-open:-rotate-45" />
				</span>
				</summary>

				<p class="mt-4 leading-relaxed text-gray-700">
				{f.a}
				</p>
			</details>
		)}
		</div>
	</Container>
</MainLayout>
