---
import { Icon } from 'astro-icon/components';
import {Image} from "astro:assets";
import MainLayout from "@layouts/MainLayout.astro";
import Container from "@components/Container.astro";
const contact = [
	{ icon: "map",heading: "Address", desc: "Lorem ipsum dolor sit amet, consectetur adipisicing." },
	{ icon: "phone",heading: "Phone Numbers", desc: "+62 8988 777 666" },
	{ icon: "mail",heading: "Email Address", desc: "Barbershop@gmail.com" }
]
---
<MainLayout>
	<div class="bg-stone-50 py-16 border-b border-yellow-600 border-opacity-90">
		<h1 class="text-[#333] font-heading tracking-wide text-center uppercase text-4xl">Kontak Kami</h1>
	</div>
	<Container class="py-16">
		<div class="max-w-3xl mx-auto space-y-8">
			<h2 class="text-2xl uppercase text-[#333]">Contact Info</h2>

			<div class="grid lg:grid-cols-3 gap-6">
				{ contact.map(c =>
					<div class="text-[#888] space-y-4">
						<Icon class="w-10 h-10 text-yellow-600 opacity-90" name={c.icon} />
						<div class="space-y-2">
							<h3 class="text-[#444] capitalize text-xl font-bold">{c.heading}</h3>
							<p>{c.desc}</p>
						</div>
					</div>
				)}
			</div>

			<div>
				<iframe class="w-full" title="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126715.84305050437!2d110.33466250579538!3d-7.024552223937665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708b4d3f0d024d%3A0x1e0432b9da5cb9f2!2sKota%20Semarang%2C%20Jawa%20Tengah!5e0!3m2!1sid!2sid!4v1710226368024!5m2!1sid!2sid" width="800" height="600" style="border:0;" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</Container>
</MainLayout>
