---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import { Image } from 'astro:assets';
const services = await getCollection('services');
---
<section class="py-24">
	<Container>
		<div class="text-center max-w-xl mx-auto mb-16 text-black">
			<h2 class="font-heading text-3xl opacity-90 mb-4 tracking-wide">Layanan <span class="text-yellow-600">Kami</span></h2>
			<p class="opacity-80 text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, rerum nostrum doloribus omnis consequatur provident.</p>
		</div>

		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
		{ services.map(s =>
			<div class="space-y-3">
				<div class="aspect-square">
					<Image class="w-full h-full object-cover" src={s.data.image} alt={s.data.service} />
				</div>
				<div class="text-center space-y-2 text-black">
					<h3 class="text-xl capitalize font-bold opacity-90">{s.data.service}</h3>
					<p class="opacity-70">{s.data.description}</p>
				</div>
			</div>
		)}
		</div>
	</Container>
</section>

