---
import Container from "@components/Container.astro";
import { Icon } from 'astro-icon/components';

const menuFooter = [
	{
		heading: "Link",
		lists: [
			{text:"Tentang Kami", url: "/tentang"},
			{text:"Kontak Kami", url: "/kontak"},
			{text:"Faq", url: "/faq"},
		]
	},
	{
		heading: "Sosial Media",
		lists: [
			{text:"Facebook", url: "/"},
			{text:"Intagram", url: "/"},
			{text:"Tiktok", url: "/"},
			{text:"Youtube", url: "/"},
		]
	},
]
---
<footer class="py-8 bg-black text-white opacity-90">
	<Container>
		<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 lg:gap-8">
			<div class="space-y-3 sm:col-span-2 md:col-span-3 lg:pe-40">
				<i class="text-4xl font-heading tracking-wide font-bold">Barber<span class="text-yellow-600">Shop</span></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, expedita quam sequi perspiciatis voluptatibus corporis.</p>
			</div>
			{ menuFooter.map(f =>
				<div class="space-y-4">
					<h3 class="text-md font-bold font-heading uppercase pb-2 border-b border-yellow-500">{f.heading}</h3>
					<div class="flex flex-col gap-y-2">{f.lists.map(l => <a class="hover:text-yellow-600 transition-all" href={l.url}>{l.text}</a> )}</div>
				</div>
			)}
		</div>
		<hr class="my-8 border-yellow-600" />

		<div class="flex flex-col-reverse gap-y-4 items-center">
			<p><span>&copy; copyright 2024</span> made with <a class="underline underline-offset-2 hover:text-yellow-600" href="https://astro.build/">{Astro.generator}</a></p>

			<div class="flex gap-x-3 items-center">
				<small class="font-heading text-lg">Follow : </small>
				<div class="flex gap-x-2 items-center">
					<a href="/" class="text-xl hover:text-yellow-500"><span class="sr-only">fb</span> <Icon name="fb" /></a>
					<a href="/" class="text-xl hover:text-yellow-500"><span class="sr-only">ig</span> <Icon name="ig" /></a>
					<a href="/" class="text-xl hover:text-yellow-500"><span class="sr-only">tiktok</span> <Icon name="tiktok" /></a>
					<a href="/" class="text-xl hover:text-yellow-500"><span class="sr-only">yt</span> <Icon name="yt" /></a>
				</div>
			</div>
		</div>
		<a href="#top" class="bg-stone-950 text-stone-50 p-2 shadow-2xl shadow-black rounded-full fixed right-10 bottom-10" x-show="isVisible">
			<span class="sr-only">top</span>
			<Icon class="w-6 h-6" name="panah" />
		</a>
	</Container>
</footer>
