---
import Container from "@components/Container.astro";
import { Icon } from 'astro-icon/components';

const menus = [
	{ text: "Home", url:"/"},
	{ text: "Tentang Kami", url:"/tentang"},
	{ text: "Kontak Kami", url:"/kontak"},
	{ text: "Faq", url:"/faq"},
]
---
<header x-data="{ open: false }" class="bg-black text-white py-8 sticky top-0 z-[99] max-h-dvh">
	<Container class="flex items-center justify-between">
		<a class="text-2xl font-heading font-bold" href="/" data-astro-prefetch="tap"><i>Barber<span class="text-yellow-600 opacity-90">Shop</span></i></a>
		<nav class="hidden lg:block text-md">
			<ul class="flex items-center gap-6">
				{ menus.map(m =>
					<li><a href={m.url} data-astro-prefetch="tap">{m.text}</a></li>
				)}
			</ul>
		</nav>
		<button @click="open = ! open" class="lg:hidden" aria-label="toggle-menu">
			<Icon class="w-6 h-6" name="menu" />
		</button>
	</Container>
	{/* mobile menus*/}
	<nav x-show="open" x-transition class="px-4 pt-8 text-lg lg:hidden">
		<ul class="flex flex-col gap-6">
			{ menus.map(m =>
				<li><a href={m.url} data-astro-prefetch="tap">{m.text}</a></li>
			)}
		</ul>
	</nav>
</header>
